*~
*#
*.swp
*.login
*tester*
*corr*
*getfrom*
*pycache*
*pyesp*
*2015*
*parsed*
*corview*
*tmp*
__*__
*pycache*
*~
*#
.*swo
.*swp
1
__pycache*
.login
*tmp*
*~
*#
.*swo
.*swp
1
__pycache*
.login
*tmp*
